<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avoid.ihaveatheory">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity
            android:name=".view.MainMenuActivity"/>
        <activity android:name=".view.DifficultyActivity" />
        <activity android:name=".view.ScenarioActivity"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.StoreActivity" />
        <activity android:name=".view.PurchaseActivity" />
        <activity android:name=".view.LeaderboardActivity" />
        <activity android:name=".view.DashboardActivity" />
        <activity
            android:name=".view.CreditsActivity"
            android:label="@string/title_activity_credits" />
        <activity android:name=".view.CraftingActivity" />
        <activity android:name=".view.BackpackActivity" />
        <activity android:name=".view.ProfileActivity" />
        <activity android:name=".view.SettingsActivity" />
        <activity android:name=".view.ShelterActivity" />
        <activity android:name=".view.IntroActivity" />
        <activity android:name=".view.MapActivity" />
        <activity android:name=".view.JournalActivity" />
        <activity android:name=".view.GatherActivity" />
        <activity android:name=".view.CookingPotActivity" />
        <activity android:name=".view.GameOverActivity" />
        <activity android:name=".view.HelpActivity"></activity>
    </application>

</manifest>